{{ $len := sub (len $.Site.Sections) 1 }}

{{ $rowLen := 3 }}
{{ range $section, $page := $.Site.Sections }}
    
    {{if eq (mod $section $rowLen) 0 }}
        {{if not (eq $section 0) }}
        </div>
        {{end}}
    {{end}}

    {{if eq (mod $section $rowLen) 0 }}
        <div class="tile is-ancestor">
    {{end}}

    {{if .Params }}
    <div class="tile is-4 is-parent">
        <a class="tile is-link is-child box content" href="{{.Permalink}}"  style="background-color: {{ .Params.color }}">
            <h6 class="type">
                {{ partial "pretty-type" . }}
            <h3>{{.Title}}</h3>
            <p>{{.Params.desc}}</p>
        </a>
    </div>
    {{end}}

    {{if eq $section $len }}
    </div>
    {{end}}


{{ end }}