{{ $list := where .content.Site.Sections "Params.type" .type}}

{{ $len := sub (len $list) 1 }}
{{ $rowLength := int .rowLength }}
{{ $hasParticles := .hasParticles }}

{{ $content := .content }}
{{ .content.Scratch.Set "tileSize" 4 }}

{{ if eq $rowLength 2 }}
{{ .content.Scratch.Set "tileSize" 6 }}
{{ else if eq $rowLength 3 }}
{{ .content.Scratch.Set "tileSize" 4 }}
{{ else if eq $rowLength 4 }}
{{ .content.Scratch.Set "tileSize" 3 }}
{{ end }}

{{ range $section, $page := $list }}

    {{if eq (mod $section $rowLength) 0 }}
        {{if not (eq $section 0) }}
        </div>
        {{end}}
    {{end}}

    {{if eq (mod $section $rowLength) 0 }}
        <div class="tile is-ancestor">
    {{end}}

    {{if .Params }}
    <div class="tile is-{{ $content.Scratch.Get "tileSize" }} is-parent">
        <a class="tile is-link is-child box content{{ if eq $hasParticles "true" }} docs-cover{{ end }}" href="{{.Permalink}}" data-color="{{.Params.color}}">
            <h6 class="type">
                {{ partial "pretty-type" . }}
                {{ $tmp := (print "<u style=\"border-color: " .Params.color ";\">" )}}
            <h3 class="tile__title">{{replace .Params.menuTitle "<u>" $tmp | safeHTML }}</h3>
            <p class="tile__tagline">{{.Params.tagline | safeHTML }}
                <!-- <ul class="tile__use-cases">
                {{ range .Params.useCases }}
                    <li>{{ . }}</li>
                {{ end }}
                </ul> -->
            </p>
            <!-- <p class="tile__desc">{{.Params.desc}}</p> -->
        </a>
    </div>
    {{end}}

    {{if eq $section $len }}
    </div>
    {{end}}


{{ end }}