
  <footer class="Footer">
    <div>
      <h1>Start your 14 days trial</h1>

      <div class="Footer__Signup">
        {{ partial "signup-form" . }}
      </div>

      <nav class="Footer__Nav Footer__Nav--main">
        <ul>
          <li>
            <a href="/live-chat/" class="link">product</a>
          </li>
          <li>
            <a href="/features/" class="link">features</a>
          </li>
          <li>
            <a href="/pricing/" class="link">pricing</a>
          </li>
          <li>
            <a href="/chat-platform/" class="link">platform</a>
          </li>
          <li>
            <a href="/" class="link">docs</a>
          </li>
          <li>
            <a href="/live-chat-guide/" class="link">live chat guide</a>
          </li>
        </ul>
      </nav>

      <ul class="Footer__Socials">
        <li><a class="icon-fb" href="https://www.facebook.com/chatio/"></a></li>
        <li><a class="icon-tw" href="https://twitter.com/chatio"></a></li>
        <li><a class="icon-ph" href="https://www.producthunt.com/posts/chat-io"></a></li>
      </ul>

      <nav class="Footer__Nav--inline">
        <ul>
          <li><a href="/terms-and-conditions/">Terms &amp; Conditions</a></li><li><a href="/privacy-policy/">Privacy Policy</a></li>
        </ul>
      </nav>
    </div>
  </footer>
