  <nav class="Nav {{if .Params.nav.color_scheme}}Nav--{{.Params.nav.color_scheme}}{{end}}">
    <a href="/" class="Nav__Logo">
      <img src="/assets/images/logo-chatio.svg" alt="chat.io"/>
    </a>

    <ul class="Nav__menu {{if .Params.nav.dark}}Nav__menu--dark{{end}}">
      <li><a href="/live-chat/"{{ if isset .Params "product" }} class="active"{{ end }}>product</a></li>
      <li><a href="/features/"{{ if isset .Params "features" }} class="active"{{ end }}>features</a></li>
      <li><a href="/pricing/"{{ if isset .Params "pricing" }} class="active"{{ end }}>pricing</a></li>
      <li><a href="/chat-platform/"{{ if isset .Params "platform" }} class="active"{{ end }}>platform</a></li>
      <li><a href="/docs/" target="new">docs</a></li>
    </ul>

    <button class="Nav__open" type="button"
            aria-label="Menu" aria-controls="navigation">
      <span class="Nav__open__label">menu</span>
      <span class="Nav__open__box">
        <span class="Nav__open__inner"></span>
      </span>
    </button>

    <a href="https://app.chat.io" class="link {{if .Params.nav.dark}}link--light{{end}}" target="_blank">login</a>
  </nav>


