{{ $.Scratch.Set "totalWordCount" 0 }}
{{ range .Data.Pages }}
    {{ $.Scratch.Add "totalWordCount" .FuzzyWordCount }}
{{ end }} 

{{ $readingTime :=  div ($.Scratch.Get "totalWordCount") 200 }}

<meta property="og:site_name" content="European Travel, Inc.">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="Offering tour packages for individuals or groups.">
<meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
<meta property="og:url" content="http://euro-travel-example.com/index.htm">

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="The film, based on a Kevin Grisham novel (John Grisham’s brother)" />
<meta property="og:image" content="http://ruraljuror.com/heroimage.png" />
 
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" value="ruraljuror.com" />
<meta name="twitter:title" value="{{ .Title }}" />
<meta name="twitter:description" value="The film, based on a Kevin Grisham novel (John Grisham’s brother)" />
<meta name="twitter:image" content="http://ruraljuror.com/heroimage.png" />
<meta name="twitter:image:alt" content="Alt text for image">
<meta name="twitter:url" value="{{ .Permalink }}" />

<meta name="twitter:label1" value="Reading time" />
<meta name="twitter:data1" value="{{ $readingTime }} minute(s)" />

<!--  Non-Essential, But Required for Analytics -->
<meta property="fb:app_id" content="your_app_id" />
<meta name="twitter:site" content="@website-username">
