{{ $.Scratch.Set "totalReadingTime" 0 }}
{{ range .Data.Pages }}{{ $.Scratch.Add "totalReadingTime" .ReadingTime }}{{ end }} 

{{ $readingTime :=  $.Scratch.Get "totalReadingTime" }}
{{ $siteTitle := .Site.Title }}
{{ $siteUrl := "https://developers.livechatinc.com/docs" }}
{{ $pageTitle := .Title }}
{{ $pageDesc := safeHTML .Params.desc }}
{{ $pageImage := (print $siteUrl "/assets/images/livechat-developer-docs.png") }}

{{ $pageUrl := (print .Permalink) }}

<meta property="og:site_name" content="{{ $siteTitle }}" />
<meta property="og:title" content="{{ $pageTitle }}" />
<meta property="og:description" content="{{ $pageDesc }}" />
<meta property="og:image" content="{{ $pageImage }}" />
<meta property="og:url" content="{{ $pageUrl }}" />
<meta property="og:type" content="website" />
 
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:domain" value="{{ $siteUrl }}" />
<meta name="twitter:title" value="{{ $pageTitle }}" />
<meta name="twitter:description" value="{{ $pageDesc }}" />
<meta name="twitter:image" content="{{ $pageImage }}" />
<meta name="twitter:url" value="{{ $pageUrl }}" />

<meta name="twitter:label1" value="Reading time" />
<meta name="twitter:data1" value="{{ $readingTime }} minute(s)" />

<!--  Non-Essential, But Required for Analytics -->
<!-- <meta property="fb:app_id" content="{{ .Site }}" /> -->
<!-- <meta name="twitter:site" content="@website-username" /> -->
