<!DOCTYPE html>
<html lang="en">

<head>
  {{ if .Params.hideSearch }}
  <meta name="robots" content="noindex,nofollow">
  {{ end }}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .Title }}{{ .Title }} - LiveChat API Developers Docs and Guides{{ else }}LiveChat API Developers Docs and Guides{{ end }}</title>

  {{ partial "seo-meta" . }}

  <link rel="stylesheet" href="/docs/css/app.css?v=1559225172">
  <link rel="icon" href="/docs/assets/images/fav.ico">

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-M58RLCQ');</script>
  <!-- End Google Tag Manager -->
	
  <link href="https://fonts.googleapis.com/css?family=Merriweather:700|Source+Sans+Pro:400,600,700" rel="stylesheet">
	
  <style type="text/css">
    .docs__toc__li a.active {
      color: {{.Params.color}};
    }

    .subnav__link--active {
      border-color: {{.Params.color}};
    }
    
    .tile__title u,
    .docs__logo__title > u {
      /* border-bottom: 4px solid {{.Params.color}}; */
      text-decoration: none !important;
    }

    .tile__tagline {
      color:  {{.Params.color}} !important;
    }

    .searchbox__submit svg {
      fill: {{.Params.color}} !important;
    }

    .searchbox__input:focus,
    .searchbox__input:active {
      box-shadow: inset 0 0 0 1px {{.Params.color}} !important;
    }


  </style>

</head>

<body class="{{ if .IsHome }}home{{ end }}" data-spy="scroll" data-target=".docs__toc" data-offset="30">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M58RLCQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{ if not .IsHome }}
    {{ if .Params.beta }}
    <div class="sticky-bar">Hello! 👋 You're browsing the docs for LiveChat 3.0 Beta API. Keep in mind it's under heavy development and may be a subject to change!</div>
    {{ end }}
  {{ end }}

  <div id="LiveChat">
    
    <main class="docs__wrapper">
      {{ if not .IsHome }}
      
      <button class="docs__sidebar-button" type="button" aria-label="Menu" aria-controls="navigation">
        <span class="docs__sidebar-button__label">menu</span>
      </button>

      <aside class="docs__sidebar" {{ if .Params.beta }}style="padding-top: 30px;"{{ end }}>

        <div class="docs__logo" style="background-color: {{.Params.color}}">
          {{ if not .Params.hideSearch }}
            {{ partial "algolia-compact" . }}
          {{ end }}
          {{ partial "breadcrumbs" . }}
          <div class="docs__logo__title">
            {{.Params.menuTitle | safeHTML}}
          </div>
        </div>
            
        <div class="docs__sidebar-nav">
          <nav class="docs__toc">
            <ul class="docs__toc__ul docs__toc__ul--l1">
              {{ range .Data.Pages }}
              <li class="docs__toc__li">
                {{ partial "table-of-contents" . }}
              </li>
              {{ end }}
            </ul>
            <div class="docs__toc__footer">
              <p><a href="https://github.com/livechat/livechat-public-docs/tree/master/site/content/{{.File.Dir}}" class="docs__toc__footer__link"><img src="../assets/images/github-logo-dark.svg" width="15" alt="LiveChat Docs source repository" class="docs__toc__footer__github" target="_blank"/> Edit this on GitHub</a></p>
              <div class="docs__toc__footer__sep"></div>
              <a class="cta ghost" href="https://developers.livechatinc.com/console/" target="_blank">Developers Console</a>
            </div>

          </nav>
        </div>

      </aside>

      {{ end }} {{ if not .IsHome }}
      <section class="docs__content">
        <article class="markdown-body {{ if .Params.fullWidth }}full-width{{ end }}">
          {{ block "main" . }} {{ end }}
        </article>
      </section>
      {{ else }}
      <section>
        <article>
          {{ block "main" . }} {{ end }}
        </article>
      </section>
      {{ end }}
    </main>
  </div>

  <script src="/docs/js/app.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script> 
  <script type="text/javascript"> docsearch({ 
   apiKey: 'f53a424573adab20d04faa2db150c349', 
   indexName: 'livechatinc', 
   inputSelector: '#search', 
   debug: true
  }); 
  </script> 
</body>

</html>
