<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>chat.io Developer Docs</title>
  <link rel="stylesheet" href="/docs/css/app.css">
  <link rel="icon" href="/assets/images/favicon.png">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W9TN22J');</script>
  <!-- End Google Tag Manager -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:300,400,700" rel="stylesheet">
  <style type="text/css">
    .docs__toc__li a.active {
      color: {{.Params.color}};
    }

    .subnav__link--active {
      border-color: {{.Params.color}};
    }
    
    .docs__logo__title > u {
      border-bottom: 4px solid {{.Params.color}};
      text-decoration: none !important;
    }
  </style>
</head>

<body class="{{ if .IsHome }}home{{ end }}" data-spy="scroll" data-target=".docs__toc" data-offset="30">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9TN22J" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div id="Chatio">

    <main class="docs__wrapper">
      {{ if not .IsHome }}
      <aside class="docs__sidebar">
        <div class="docs__logo">

          {{ partial "breadcrumbs" . }}

          <div class="docs__logo__title">
           {{.Params.menuTitle | safeHTML}}
          </div>
          {{ partial "api-submenu" . }}
        </div>

        <div class="docs__sidebar-nav">
          <nav class="docs__toc">
            <ul class="docs__toc__ul docs__toc__ul--l1">
              {{ range .Data.Pages }}
              <li class="docs__toc__li">
                {{ partial "table-of-contents" . }}
              </li>
              {{ end }}
            </ul>

            <div class="docs__toc__footer">
              <p>Don't have your Developer Account yet?</p>
              <a class="cta white" href="https://console.chat.io/" target="_blank">Developers Console</a>
            </div>

          </nav>
        </div>

      </aside>

      {{ end }} {{ if not .IsHome }}
      <section class="docs__content">
        <article class="markdown-body">
          {{ block "main" . }} {{ end }}
        </article>
      </section>
      {{ else }}
      <section>
        <article>
          {{ block "main" . }} {{ end }}
        </article>
      </section>
      {{ end }}
    </main>
  </div>

  <script src="/docs/js/app.js"></script>
</body>

</html>