// SEARCHBOX
$searchbox-config: (
  input-width: 100%,
	input-height: 36px,
	border-width: 1px,
	border-radius: 4px,
	input-border-color: transparent,
	input-focus-border-color: #5ca8f5,
	input-background: rgba(#FFFFFF,.1),
	input-focus-background: rgba(#FFFFFF,1),
	font-size: 14px,
	placeholder-color: rgba(#FFF, .3),
	icon-size: 14px,
	icon-position: right,
	icon-color: #5ca8f5,
	icon-background: #458EE1,
	icon-background-opacity: 0,
	icon-clear-size: 8px
) !default;

// DROPDOWN
$dropdown-config: (
  main-color: #458EE1,
  layout-type: normal,
  layout-width: small,
  layout-alignment: align,
  background-color: #fff,
  border-radius: 4,
  border-width: 1,
  border-color: rgba(#31384f, .1),
  box-shadow: light,
  branding-position: bottom,
  spacing: normal,
  include-desc: yes,
  background-category-header:  #ffffff,
  font-size: normal,
  header-color: rgba(#31384f, 1),
  title-color: rgba(#31384f, .9),
  subtitle-color: rgba(#31384f, .7),
  text-color: rgba(#31384f, .8),
  highlight-color: #f5a623,
  highlight-opacity: .2,
  highlight-type: underline
) !default;

$builder-height: 260px;
