/* Input */
.algolia-autocomplete {
  width: 100%;
}

/* Main dropdown wrapper */
.algolia-autocomplete .ds-dropdown-menu {
  width: 500px;
}

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  color: #424d57;
  /* border-: 1px solid gray; */
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header:before {
  content: "";
  opacity: 0.6;
  width: 12px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 3px 0;
  background-image: url("data:image/svg+xml, %3Csvg width='12px' height='16px' viewBox='0 0 12 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' %3E%3Cpath d='M1.5,0.5 C0.675,0.5 0.0075,1.175 0.0075,2 L0,14 C0,14.825 0.6675,15.5 1.4925,15.5 L10.5,15.5 C11.325,15.5 12,14.825 12,14 L12,5 L7.5,0.5 L1.5,0.5 Z M6.75,5.75 L6.75,1.625 L10.875,5.75 L6.75,5.75 Z' fillRule='nonzero' fill='%23424d57' /%3E%3C/svg%3E");
}

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: gray;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  font-weight: bold;
  color: #424d57;
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: #20f !important;
  background: none;
  box-shadow: inset 0 -1px 0 0 rgb(34, 0, 255) !important;
  padding: 0;
}

.ds-suggestion .ds-cursor {
  background-color: #f1f6f8 !important;
  /* background-color: rgba(34, 0, 255, 0.1); */
}

.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu:before {
  left: 12px;
  top: -5px;
  width: 10px;
  height: 10px;
}

.algolia-autocomplete .ds-dropdown-menu {
  margin-top: 15px;
}

@media (max-width: 480px) {
  .algolia-autocomplete .ds-dropdown-menu {
    width: auto;
    min-width: 320px;
  }
}
