@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Colfax";
  src: url("../../assets/fonts/ColfaxWebRegular.woff2") format("woff2"),
    url("../../assets/fonts/ColfaxWebRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Colfax";
  src: url("../../assets/fonts/ColfaxWebRegularItalic.woff2") format("woff2"),
    url("../../assets/fonts/ColfaxWebRegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Colfax";
  src: url("../../assets/fonts/ColfaxWebBold.woff2") format("woff2"),
    url("../../assets/fonts/ColfaxWebBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Colfax";
  src: url("../../assets/fonts/ColfaxWebMedium.woff2") format("woff2"),
    url("../../assets/fonts/ColfaxWebMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
