/*

The skeleton of this theme comes from http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool.
The code blocks layout is heavily inspired by https://stripe.com/docs/api.

*/

html {
  --code-background: #f1f6f8;
  --code-selection-background: #a4cdfe;
  --code-color: #379392;
  --code-inline-color: #cc4066;
  --code-comment-color: #c1c9d2;
  --code-punctuation-color: #8792a2;
  --code-number-color: #f45d01;
  --code-property-color: #829cbc;
  --code-tag-color: #3d8fd1;
  --code-string-color: #379392;
  --code-selector-color: #6679cc;
  --code-attr-name-color: #c76b29;
  --code-attr-value-color: #a4cdfe;
  --code-keyword-color: #224870;
  --code-url-color: #22a2c9;
  --code-regex-color: #22a2c9;
  --code-placeholder-color: #3d8fd1;
  --code-important-color: #c94922;
  --code-lines-number-color: #293256;
  --code-line-highlight-background: #979db433;
  --code-inline-border-color: #e8e8e8;
}

.language-bash,
.language-js {
  --code-color: #f5fbff;
  --code-background: #505671;
  --code-string-color: #56d4bc;
}

.token.boolean {
  font-weight: 600;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  font-size: 13px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: var(--code-background);
  color: var(--code-color);
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: var(--code-selection-background);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: var(--code-selection-background);
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code {
  padding: 0.1em 0.4em;
  border-radius: 0.3em;
  border: 1px solid var(--code-inline-border-color);
  color: var(--code-inline-color);

  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  font-size: 13px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: var(--code-background);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-comment-color);
}

.token.operator,
.token.punctuation {
  color: var(--code-punctuation-color);
}

.token.namespace {
  opacity: 0.7;
}

.token.boolean,
.token.number {
  color: var(--code-number-color);
}
.token.property {
  color: var(--code-property-color);
}
.token.tag {
  color: var(--code-tag-color);
}
.token.string {
  color: var(--code-string-color);
}
.token.selector {
  color: var(--code-selector-color);
}
.token.attr-name {
  color: var(--code-attr-name-color);
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--code-url-color);
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: var(--code-attr-value-color);
}

.token.keyword.null {
  color: var(--code-keyword-color);
}

.token.statement,
.token.regex,
.token.atrule {
  color: var(--code-regex-color);
}

.token.placeholder,
.token.variable {
  color: var(--code-placeholder-color);
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #f5f7ff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: var(--code-important-color);
}

.token.entity {
  cursor: help;
}

/* pre > code.highlight {
  outline: 0.4em solid #c94922;
  outline-offset: 0.4em;
} */

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: var(--code-line-numbers-color);
}

.line-numbers-rows > span:before {
  color: var(--code-line-numbers-color);
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 * alpha transparency in 8 digits hex notation coming to a browser near you soon:
 * https://drafts.csswg.org/css-color/#hex-notation
 */
.line-highlight {
  background: var(--code-line-highlight-background);
}

.remark-highlight {
  max-width: 100%;
  width: 100%;
}
