article.redoc .redoc-wrap {
  width: 100%;
  margin-top: -126px;
}

article.redoc.redoc-with-version .redoc-wrap {
  margin-top: -126px;
}

@media (max-width: 50rem) {
  article.redoc .redoc-wrap {
    margin-top: 0px;
    width: 100%;
  }
}

article.redoc.redoc-with-version .redoc-wrap {
  margin-top: -126px;
}

article.redoc h1,
article.redoc h2,
article.redoc h3,
article.redoc h4,
article.redoc h5 {
  font-family: "Colfax", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

article.redoc a {
  text-decoration: underline;
}

article.redoc .menu-content {
  padding-left: 20px;
  padding-top: 20px;
  border-right: 1px solid #dedede;
}

article.redoc .menu-content ul li {
  margin-bottom: 0;
}

article.redoc .menu-content ul li label {
  padding: 0.6em 12px;
  font-size: 15px;
  line-height: 1.3em;
  background-color: transparent;
}

article.redoc .menu-content ul li label:hover {
  background-color: transparent;
}

article.redoc .api-content div:after {
  border-bottom-color: #e8e8e8;
}

@media screen and (max-width: 50rem) {
  article.redoc .redoc-wrap div:nth-child(2) {
    right: 8px;
    bottom: 90px;
  }
}

article.redoc.redoc-with-version .api-content {
  margin-top: -100px;
}
