.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  &.home {
    // background-color: #ecf0f4;
    background-color: $body-bg;
    // background-color: $lc_color_dark_blue;
  }
}

.wrapper {
  @include fluid-container();
}
