.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  // &.home {
  //   background-color: #ecf0f4;
  // }
}

.link {
  display: inline-block;
  vertical-align: baseline;
  font-weight: 500;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  transition: all .3s;
  margin-left: 10px;

  &:before {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    position: absolute;
    background: url('../assets/icons/link-arrow.svg');
    left: -10px;
    top: 50%;
    margin-top: -5px;
    transition: inherit;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    transition: inherit;
  }

  @media (-moz-touch-enabled: 0), (pointer: fine) {
    &:hover {
      padding-left: 8px;
      padding-right: 2px;

      &:before {
        left: -15px;
      }

      &:after {
        width: 100%;
        right: -3px;
      }
    }
  }

  &--back {
    &:before {
      transform: scaleX(-1);
    }
  }

  &--light {
    color: #fff;

    &:hover {
      color: #fff;
    }

    &::after {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.wrapper {
  @include fluid-container();
}
