////////////////////////////////////////////////////////////////////////////////
// Custom syntax theme
////////////////////////////////////////////////////////////////////////////////

$base01:   rgba(255,255,255, .6); //  comments / secondary content
$brackets:    #e4e5e6; //  body text / default code / primary content
$body:        $lc_color_selections; //  body text / default code / primary content
$constants:   $lc_color_orange; //  constants
$regex:       $lc_color_red; //  regex, special keywords
$keywords:    $lc_color_selections; //  reserved keywords
$strings:     $lc_color_green; //  strings, numbers
$operators:   $lc_color_red; //  operators, other keywords

.highlight {
    .c { color: $base01; } /* Comment */
    .err { color: $body; } /* Error */
    .g { color: $body; } /* Generic */
    .k { color: $operators; } /* Keyword */
    .l { color: $body; } /* Literal */
    .n { color: $body; } /* Name */
    .o { color: $operators; } /* Operator */
    .x { color: $constants; } /* Other */
    .p { color: $brackets; } /* Punctuation */
    .cm { color: $base01; } /* Comment.Multiline */
    .cp { color: $operators; } /* Comment.Preproc */
    .c1 { color: $base01; } /* Comment.Single */
    .cs { color: $operators; } /* Comment.Special */
    .gd { color: $strings; } /* Generic.Deleted */
    .ge { color: $body; font-style: italic } /* Generic.Emph */
    .gr { color: $regex; } /* Generic.Error */
    .gh { color: $constants; } /* Generic.Heading */
    .gi { color: $operators; } /* Generic.Inserted */
    .go { color: $body; } /* Generic.Output */
    .gp { color: $body; } /* Generic.Prompt */
    .gs { color: $body; font-weight: bold } /* Generic.Strong */
    .gu { color: $constants; } /* Generic.Subheading */
    .gt { color: $body; } /* Generic.Traceback */
    .kc { color: $constants; } /* Keyword.Constant */
    .kd { color: $keywords; } /* Keyword.Declaration */
    .kn { color: $operators; } /* Keyword.Namespace */
    .kp { color: $operators; } /* Keyword.Pseudo */
    .kr { color: $keywords; } /* Keyword.Reserved */
    .kt { color: $regex; } /* Keyword.Type */
    .ld { color: $body; } /* Literal.Date */
    .m { color: $strings; } /* Literal.Number */
    .s { color: $strings; } /* Literal.String */
    .na { color: $body; } /* Name.Attribute */
    .nb { color: $constants } /* Name.Builtin */
    .nc { color: $keywords; } /* Name.Class */
    .no { color: $constants; } /* Name.Constant */
    .nd { color: $keywords; } /* Name.Decorator */
    .ni { color: $constants; } /* Name.Entity */
    .ne { color: $constants; } /* Name.Exception */
    .nf { color: $keywords; } /* Name.Function */
    .nl { color: $body; } /* Name.Label */
    .nn { color: $body; } /* Name.Namespace */
    .nx { color: $body; } /* Name.Other */
    .py { color: $body; } /* Name.Property */
    .nt { color: $keywords; } /* Name.Tag */
    .nv { color: $keywords; } /* Name.Variable */
    .ow { color: $operators; } /* Operator.Word */
    .w  { color: $body; } /* Text.Whitespace */
    .mf { color: $strings; } /* Literal.Number.Float */
    .mh { color: $strings; } /* Literal.Number.Hex */
    .mi { color: $strings; } /* Literal.Number.Integer */
    .mo { color: $strings; } /* Literal.Number.Oct */
    .sb { color: $base01 } /* Literal.String.Backtick */
    .sc { color: $strings; } /* Literal.String.Char */
    .sd { color: $body; } /* Literal.String.Doc */
    .s2 { color: $strings; } /* Literal.String.Double */
    .se { color: $constants; } /* Literal.String.Escape */
    .sh { color: $body; } /* Literal.String.Heregexoc */
    .si { color: $strings; } /* Literal.String.Interpol */
    .sx { color: $strings; } /* Literal.String.Other */
    .sr { color: $regex; } /* Literal.String.Regex */
    .s1 { color: $strings; } /* Literal.String.Single */
    .ss { color: $strings; } /* Literal.String.Symbol */
    .bp { color: $keywords; } /* Name.Builtin.Pseudo */
    .vc { color: $keywords; } /* Name.Variable.Class */
    .vg { color: $keywords; } /* Name.Variable.Global */
    .vi { color: $keywords; } /* Name.Variable.Instance */
    .il { color: $strings; } /* Literal.Number.Integer.Long */
}