// Body
//
// Settings for the `<body>` element.

// $body-bg:       #fff;
// $body-bg: #ecf0f4;

// $text-color: rgba(29, 36, 86, .9);
$text-color: #1d2456;
$body-bg: white;
$body-color: #31374f;

// Links
//
// Style anchor elements.

$link-color: #3e7ce4;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Source Sans Pro', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol" !important;

$font-family-monospace: "Roboto Mono", "SFMono-Regular", Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;

$font-weight-light: 300 !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$lead-font-size: 1rem;
$lead-font-weight: 300;

$h1-font-size: 2rem;
$h2-font-size: 1.75rem !default;
$h3-font-size: 1.5rem !default;
$h4-font-size: 1.25rem !default;
$h5-font-size: 1.2rem !default;
$h6-font-size: 1rem !default;

$headings-margin-bottom: 0.5em;
// $headings-font-family: Source Sans Pro, Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
$headings-font-family: 'Source Sans Pro', Georgia, serif;
$headings-font-weight: 700;
$headings-alt-font-family: 'Source Sans Pro', Poppins, Futura, Trebuchet MS, Arial, sans-serif;
$headings-alt-font-weight: 700;
$headings-line-height: 1.2;
$headings-color: inherit !default;

// $sidebar_color: rgba(239,240,243,.6);
$sidebar_color: rgb(243, 246, 248);

// LIVECHAT COLORS
//////////////////
$lc_color_highlights: #c0e0ff;
$lc_color_selections: #5ca8f5;
$lc_color_active: #354ab7;
$lc_color_green: #48cc72;
$lc_color_red: #fe3824;
$lc_color_orange: #f5a623;
$lc_color_dark_blue: #31384f;
$lc_color_blue: #31384f;
$lc_color_light_blue: #f3f7f9;


// primary: '#1d2456',
// primaryAlpha: alpha => `rgba(29, 36, 86, ${alpha})`,
// primaryAction: '#56ccbe',
// lightViolet: '#a6b2eb',
// lightVioletAlpha: alpha => `rgba(166, 178, 235, ${alpha})`,
// darkBlue: '#31384f',
// darkBlueAlpha: alpha => `rgba(49, 56, 79, ${alpha})`,
// veryLightGray: '#f7f7f9',
// red: '#fe3824',
// green: '#7fc6a4',
// orange: '#ff8864',
// yellow: '#dec955',
// vividBlue: '#354ab7',
// vividBlueHover: '#576bd4',
// primaryCtaAlpha: alpha => `rgba(53, 74, 183, ${alpha})`,
// borderColor: '#cbd4df',
// borderColorAlpha: alpha => `rgba(203, 212, 223, ${alpha})`
