.sample-page-mock {
  background: url('/assets/images/chat/sample-page.svg');
  background-size: cover;
  width: 100%; //560px
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-top: 62.5%;
  }

  > img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35%;
    height: auto;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}

.agent-app-mock {
  background: url('/assets/images/chat/agent-app.svg') no-repeat center center;
  background-size: contain;
  width: 100%;
  max-width: 510px;
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-top: 74.5%;
  }
}

.agent-app__section {
  height: auto;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
  position: absolute;

  &--view {
    width: 50%;
    top: 0;
    left: 27.78%;
    transform-origin: center;
  }

  &--list {
    left: -6%;
    top: 0;
    width: 34.5%;
    transform-origin: center right;
  }
}
