.page-header {
  background: #f3f5f6;
  padding-top: 160px;
  padding-bottom: 80px;
  width: 100%;

  .wrapper {
    overflow: hidden;
  }

  h1 {
    max-width: 350px;
  }

  p {
    @extend .lead;
    max-width: 400px;
  }

  hr {
    width: 100%;
    background: #30374E;
    margin: 20px 0 0;
  }

  &__side {
    max-width: 690px;
    float: right;
    padding-top: 5px;
  }

  &--empty {
    background: transparent;
    padding: 0;
    height: 100px;
  }

  &--clean {
    background: transparent;
    padding-top: 150px;
  }

  // Feature pages
  &--chatting-online {
    background: #4483E7 url(/assets/images/features-chatting.png);
    background-size: 115px 90px;
    background-position: bottom right;
    background-repeat: no-repeat;
    color: #fff;
  }
}
