.hero {
  @include fluid-container();

  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    padding-top: 50px;
  }

  &__lead {
    @extend .lead;

    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    @include media-breakpoint-up(md) {
      width: 50%;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &__image {
    width: 100%;
    text-align: center;

    > img {
      width: 100%;
      height: auto;
      max-width: 530px;
    }

    @include media-breakpoint-up(md) {
      width: 50%;
      min-height: 503px;
      text-align: left;

      > img {
        width: 530px;
        transform: scale(1.6);
        transform-origin: top center;
      }
    }
  }

  h1 {
    max-width: 540px;
  }

  p {
    max-width: 380px;
  }
}
