.Nav {
  @include fluid-container();

  position: static;
  padding-top: 10px;
  margin-bottom: -93px;
  text-align: center;
  z-index: 10;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media #{$chatioTablet} {
    padding-top: 35px;
    margin-bottom: -61px;
    text-align: left;
  }

  &__menu {
    list-style-type: none;
    line-height: 1;
    margin: 0;
    padding: 70px 25px 20px;
    z-index: 20;
    overflow: hidden;
    transition-property: transform;
    transition-duration: .3s;
    text-align: left;

    position: absolute;
    top: 0;
    background: #f3f5f6;
    width: 100%;
    left: 0;
    transform: translate(0, -100%);

    &--active {
      transform: translate(0, 0%);
    }

    @media #{$chatioTablet} {
      background: transparent;
      display: inline-block;
      margin-left: 40px;
      padding: 0;
      position: relative;
      width: auto;
      height: auto;
      transform: none;
      transition-property: none;
      overflow: visible;
    }

    @media #{$desktop} {
      margin-left: 90px;
    }

    li {
      display: block;
      font-weight: 300;
      margin: 15px 0;
      position: relative;
      width: auto;
      font-size: 17px;

      @media #{$chatioTablet} {
        font-size: 16px;
        margin: 5px;
        display: inline-block;
        margin: 0 0 0 30px;
      }

      @media #{$desktop} {
        margin-left: 50px;
      }

      a {
        color: #5a6976;
        display: block;
        padding: 5px;

        @media #{$chatioTablet} {
          padding: 0;
        }

        &:after {
          content: '';
          width: 0%;
          height: 2px;
          background: #3E7CE4;
          position: absolute;
          left: 0;
          bottom: -5px;
          transition: width 0.3s;
        }

        &.active {
          color: #3E7CE4;
          font-weight: bold;

          &:after {
            width: 100%;
          }
        }

        &:hover {
          color: #3E7CE4;

          @media (-moz-touch-enabled: 0), (pointer: fine) {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }

    &--dark {
      li a {
        color: #31374f;

        &:hover, &.active {
          color: #fff;
        }

        &::after {
          background: #fff;
        }
      }
    }
  }

  .link {
    display: none;
    margin-left: auto;

    @media #{$chatioTablet} {
      display: inline-block;
    }
  }

  &__open {
    padding: 15px 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    margin-left: auto;
    overflow: visible;
    z-index: 30;

    @media #{$chatioTablet} {
      display: none;
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }

    &__box {
      width: 40px;
      height: 24px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      transform: scale(0.7);
    }

    &__inner {
      display: block;
      top: 50%;
      margin-top: -2px;
    }

    &__inner,
    &__inner::before,
    &__inner::after {
      width: 40px;
      height: 4px;
      background-color: #30364F;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }

    &__inner::before,
    &__inner::after {
      content: "";
      display: block;
    }

    &__inner::before {
      top: -10px;
    }

    &__inner::after {
      bottom: -10px;
    }

    &__label {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }

    /** Slider */
    &__inner {
      top: 2px;
    }

    &__inner::before {
      top: 10px;
      transition-property: transform, opacity;
      transition-timing-function: ease;
      transition-duration: 0.2s;
    }

    &__inner::after {
      top: 20px;
    }

    &--active {
      .Nav__open__inner {
        transform: translate3d(0, 10px, 0) rotate(45deg);
      }

      .Nav__open__inner::before {
        transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
        opacity: 0;
      }

      .Nav__open__inner::after {
        transform: translate3d(0, -20px, 0) rotate(-90deg);
      }
    }
  }
}

a.Nav__Logo {
  text-decoration: none;
  display: block;
  margin-top: -4px;
  padding: 0;
  text-align: center;
  z-index: 30;

  @media #{$chatioTablet} {
    margin-bottom: 2px;
    display: inline-block;
    text-align: left;
    position: relative;
  }

  > img {
    width: 100px;
    height: auto;
  }
}
