<script>
var LC_tasks = LC_tasks || [];
window.setTimeout(function () {
    LC_tasks.push(['display_invitation', {
        tag: 'main',
        message: 'Talk nerdy to us!',
        user: {
            avatar: 'http://cdn.livechatinc.com/s3/1520/avatars/f376d0558466fe496fd16a9472af648c.jpg',
            name: 'Jan'
        }
    }]);
}, 30 * 1000);
</script>

<script>
    window.__lc = window.__lc || {};
    window.__lc.license = 8413431;
    window.__lc.hostname = 'secure-lc.livechatinc.com';
</script>

<script src="https://cdn.livechatinc.com/staging/tracking.js"></script>
</body>
</html>
