<script>
    window.__lc = window.__lc || {};
    window.__lc.license = 8413431;
    window.__lc.hostname = 'secure-lc.livechatinc.com';
</script>

<script src="https://cdn.livechatinc.com/staging/tracking.js"></script>
</body>
</html>
