<div class="footer-home-wrapper">
	<div class="footer-home">
		<div class="footer-box">
			<h3>Support &amp; Feedback</h3>

			<p>Please let us know if you have any thoughts on making this collection complete. We are eager to make the documentations better and better! You can reach us <a href="#" onclick="LC_API.open_chat_window();return false;">via chat</a> or drop us a line at <strong>developers@livechatinc.com</strong>. </p>
		</div>

		<div class="footer-box">
			<h3>Why build on LiveChat</h3>

			<p>LiveChat provides business solutions for a <a href="https://www.livechatinc.com/customers" target="_blank">variety of industries</a>. Our servers handle more than <strong>10,000,000 chats</strong> every month. It's a great environment to build, experiment or widen your customer base!</p>
		</div>

		<div class="footer-box">
			<h3>New to LiveChat</h3>

			<p>LiveChat is an online customer service software with live support, help desk software and web analytics capabilities. It's used by more than <strong>17,000 companies</strong> all over the world. You can find more information on the <a href="https://www.livechatinc.com/" target="_blank">product page</a>.</p>
		</div>
	</div>
</div>

<div class="footer-logo">
	<span>Let's deploy.</span><a href="https://www.livechatinc.com/"><img src="__images/livechat-logo.svg" alt="LiveChat" title="LiveChat" width="96"/></a>
</div>
