<nav class="TopMenu">
    <ul class="TopMenu__List">
        <li class="TopMenu__List__Element TopMenu__List__Element--left">
            <a href="https://developers.livechatinc.com/" target="_blank" title="LiveChat for Developers – Home page"><strong>LiveChat for Developers</strong></a>
        </li>
        <li class="TopMenu__List__Element TopMenu__List__Element--left">
            <a href="https://developers.livechatinc.com/blog" target="_blank" title="Thoughts, solutions and tips from LiveChat Team">Developers Blog</a>
        </li>
        <li class="TopMenu__List__Element TopMenu__List__Element--left">
            <a href="https://developers.livechatinc.com/projects" target="_blank" title="See what we are currently working on">LiveChat Projects</a>
        </li>
        <li class="TopMenu__List__Element TopMenu__List__Element--left">
            <a href="https://status.livechatinc.com/" target="_blank" title="Check the current status of LiveChat APIs">API Status</a>
        </li>
        <li class="TopMenu__List__Element">
            <a class="cta white" href="https://developers.livechatinc.com/console" target="_blank" title="Build and share LiveChat extensions in Developers Console">Go to Console</a>
        </li>
    </ul>
</nav>