:root {
  --docsearch-white-color: #fff;
  --docsearch-content-color: #424d57;
  --docsearch-button-border: #c9c9cd;
  --docsearch-button-border-hover: #ababb1;
  --docsearch-desktop-background: #4e4e58;
  --docsearch-mobile-background: #4a4a55;
  --docsearch-searchbox-shadow: inset 0 0 0 1px #c9c9cd;
  --docsearch-highlight-color: #4284f5;
}

.DocSearch-Button {
  font-weight: 400;
  width: 100%;
  max-width: 560px;
  margin: 0;
  background-color: var(--docsearch-white-color);
  border: 1px solid var(--docsearch-button-border);
  border-radius: 4px;
}

.DocSearch-Button:active,
.DocSearch-Button:focus,
.DocSearch-Button:hover {
  color: var(--docsearch-muted-color);
  border: 1px solid var(--docsearch-button-border-hover);
  box-shadow: none;
}

.DocSearch-Button-Keys,
.DocSearch-Button-Desktop .DocSearch-Button-Keys {
  all: unset;
  width: 24px;
  height: 24px;
}

.DocSearch-Button-Keys {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Crect width='23' height='23' x='.5' y='.5' fill='%23F1F6F8' stroke='%23E4E8EC' rx='3.5'/%3E%3Cpath fill='%23424D57' d='M9.143 19.143 13.81 4.857h1.048l-4.665 14.286H9.143Z'/%3E%3C/svg%3E");
}

.DocSearch-Button-Desktop .DocSearch-Button-Keys {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Crect width='24' height='24' fill='%2362626D' rx='4'/%3E%3Cpath fill='%23fff' d='M9.143 19.143 13.81 4.857h1.048l-4.665 14.286H9.143Z'/%3E%3C/svg%3E");
}

.DocSearch-Button-Key {
  display: none;
}

.DocSearch-Search-Icon path {
  display: none;
}

.DocSearch-Search-Icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath fill='%23424d57' d='M12.5 11h-.79l-.28-.27A6.471 6.471 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L17.49 16l-4.99-5Zm-6 0C4.01 11 2 8.99 2 6.5S4.01 2 6.5 2 11 4.01 11 6.5 8.99 11 6.5 11Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
}

.DocSearch-Modal .DocSearch-Search-Icon {
  background-size: 24px 24px;
}

.DocSearch-Button-Desktop .DocSearch-Search-Icon,
.DocSearch-Button-Mobile .DocSearch-Search-Icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath fill='%23fff' d='M12.5 11h-.79l-.28-.27A6.471 6.471 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L17.49 16l-4.99-5Zm-6 0C4.01 11 2 8.99 2 6.5S4.01 2 6.5 2 11 4.01 11 6.5 8.99 11 6.5 11Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
}

.DocSearch-Logo .cls-1,
.DocSearch-Logo .cls-2 {
  fill: var(--docsearch-highlight-color);
}

.DocSearch-Logo a:hover {
  text-decoration: none;
}

.DocSearch-Button-Desktop .DocSearch.DocSearch-Button {
  width: 192px;
  background-color: var(--docsearch-desktop-background);
}

.DocSearch-Button-Desktop .DocSearch-Button-Placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.5;
}

.DocSearch-Button-Mobile .DocSearch.DocSearch-Button {
  background-color: var(--docsearch-mobile-background);
  border: none;
}

@media (max-width: 1024px) {
  .DocSearch-Button-Mobile .DocSearch-Button-Keys,
  .DocSearch-Button-Mobile .DocSearch-Button-Placeholder {
    display: none;
  }
  .DocSearch-Button-Placeholder {
    display: block;
  }
}

.DocSearch-Hit-source {
  color: var(--docsearch-content-color);
}

.DocSearch-Hits mark {
  background: none;
  color: var(--docsearch-content-color);
  text-decoration: underline;
}

.DocSearch-Cancel {
  color: var(--docsearch-highlight-color);
}
