:root {
  --docsearch-primary-color: #4e4e58;
  --docsearch-logo-color: #4e4e58;
}

.DocSearch-Button {
  width: 100%;
  margin: 0;
  background-color: #fff;
  border: 1px solid #c9c9cd;
  border-radius: 4px;
}

.DocSearch-Modal a:hover {
  color: white;
}
