$sidebarWidth: 260px;


.hide {
  display: none;
}

.home-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
}

.version {
  background-color: rgba(#364149, 0.1);
  // background-color: rgba(#fff, .1);
  // border-bottom: 1px solid rgba(#364149, .1);
  // border-top: 1px solid rgba(#364149, .1);
  padding: 10px 20px;
  &__label {
    font-size: 14px;
    margin: 0;
  }

  &__select {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 4px;
    margin: 0;
    background: none;
    border: none;
    outline: none;
  }
}

.subnav {
  background-color: rgba(#fff, .7);
  padding: 0 16px;

  &__link {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    // font-size: 14px;
    padding: 10px 4px 6px;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    &--active {
      border-bottom: 4px solid rgba(#364149, 1);
    }
  }
}

.docs {
  &__logo {
    &__home {
      color: rgba(#fff, 0.6);
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.04em;
      padding: 30px 25px 0 ;
      
      img {
        opacity: 0.6;
        vertical-align: middle;
      }
    }
    
    &__title {
      padding: 0 25px 15px;
      font-family: "Roboto", serif;
      color: rgba(#fff, 0.9);
      font-size: 24px;
      line-height: 1.1em;
      font-weight: 700;
    }

    a {
      color: inherit;
    }
  }

  &__wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__sidebar-nav {
    padding: 0 0 20px;
  }
  &__sidebar {
    display: none;

    @media #{$phone} {
      width: $sidebarWidth;
      display: block;
      left: auto;
      float: left;
      // border-right: 1px solid rgba(0, 0, 0, 0.07);
      overflow-y: auto;
      height: 100vh;
      background-color: #31384f;
      position: fixed;
    }
  }

  &__article-wrapper {
    background: white;
    padding: 40px 40px 70vh;
  }
  &__content {
    position: relative;
    font-weight: normal;
    margin-left: 0;
    background: $lc_color_dark_blue;

    @media #{$phone} {
      // width: calc(100% - $sidebarWidth);
      float: left;
      margin-left: $sidebarWidth;
    }

    @media #{$large-desktop} {
      // width: calc(100% - 580px);
      //   padding-top: 70px;
    }

  }

  &__toc {
    &__ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      transition: max-height .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      // height: 0;
      overflow-y: hidden;

      &--l1 {
        padding: 0;

      }
      

      &--l2 {
        
        &.docs__toc__ul--active {
          padding: 10px 0;
        }
        
        max-height: 0;
        // margin: 10px 0;
        // transform: scaleY(0);    
        // transform-origin: top;
        // transition: transform 0.26s ease;
        // border-top: 1px solid rgba(#364149, 0.1);
      }
      &--l3 {
        max-height: 0;
        // transform: scaleY(0);    
        // transform-origin: top;
        // transition: transform 0.26s ease;
        // overflow-y: hidden;
      }
      &--l0 > li > a {
        font-weight: 700;
        &.active {
          &:before { transform: rotate(-90deg); }
        }
        &:before {
          content: " ";
          display: inline-block;
          // position: absolute;
          transition: transform .1s ease-in-out;
          vertical-align: middle;
          margin-right: 4px;
          margin-bottom: 3px;
          width: 14px;
          height: 14px;
          background-image: url('./../assets/icons/menu-arrow.svg');
          background-position: center;
          background-size: 100% 100%;
          // left: -10px;
        }
      }
      &--l1 > li > a {
        &.active {
          &:before { transform: rotate(-90deg); }
        }
        &:before {
          content: " ";
          display: inline-block;
          transition: transform .1s ease-in-out;
          vertical-align: middle;
          margin-right: 4px;
          margin-bottom: 3px;
          width: 12px;
          height: 12px;
          background-image: url('./../assets/icons/menu-arrow.svg');
          background-position: center;
          background-size: 100% 100%;
        }
      }
      &--l2 > li > a {
        &.active {
          &:before { transform: rotate(-90deg); }
        }
        padding: 6px 20px 6px 30px;
        font-size: 13px;
        color: rgba(#fff, 0.9);
        &:before {
          content: " ";
          display: inline-block;
          transition: transform .1s ease-in-out;
          vertical-align: middle;
          margin-right: 4px;
          margin-bottom: 3px;
          width: 12px;
          height: 12px;
          background-image: url('./../assets/icons/menu-arrow.svg');
          background-position: center;
          background-size: 100% 100%;
        }
      }
      &--l3 > li > a {
        &.active {
          &:before { transform: rotate(-90deg); }
        }
        color: rgba(#fff, 0.85);
        padding: 4px 20px 4px 40px;
        font-size: 12px;
        position: relative;
        &:before {
          content: " ";
          display: inline-block;
          transition: transform .1s ease-in-out;
          vertical-align: middle;
          margin-right: 4px;
          margin-bottom: 3px;
          width: 10px;
          height: 10px;
          background-image: url('./../assets/icons/menu-arrow.svg');
          background-position: center;
          background-size: 100% 100%;
        }
      }
      &--active {  
        max-height: 100vh;
        background-color: darken(#31384f,5%);
      }
    }

    &__li {
      //   border: 1px solid red;
      display: block;

      a {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;  
        display: block;
        padding: 8px 20px;
        position: relative;
        transition: color 0.1s ease-in-out;
        color: #fff;
        font-size: 14px;

        &:hover {
          color: darken(#fff, 15%);
        }
      }

      a.active {
        color: $link-color;
      }
    }

    &__footer {
      margin-top: 2em;
      padding: 15px;
      font-size: 14px;
      text-align: center;
      // background: rgba(#fff, 0.7);
      color: rgba(#fff, .3);
      p {
        max-width: 150px;
        margin: 10px auto;
      }
    }
  }
}

.spacing {
  width: 100%;
  height: 30px;
}

.tile {
  &.is-parent {
    padding: 0 !important;
  }

  .subtitle {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 700;
    padding-left: 20px;
    margin-top: 30px;
    color: rgba(#364149,.9);
  }

  .type {
    margin: 10px 0 5px;
    font-weight: 400;
    letter-spacing: .06em;
    font-size: 12px;
    font-family: 'Roboto';
    color: rgba(#fff, 0.8);
    // font-style: italic;
  }

  .content {
    padding: 30px;
    height: 100%;
    min-height: 260px;

    p {
      color: rgba(#fff, 0.8);
    }

    &.coming-soon {
      &:before {
        content: 'coming soon';

      }
    }

    &--large {
      p {
        max-width: 400px;
      }

      h2 {
        // font-weight: 700;
      }

      padding: 50px;
      min-height: 350px;
    }

    &--zoomed {
      p {
        color: #364149;
        font-size: 1.1em;
        font-weight: 300;
      }

      h1 {
        font-weight: 300 !important;
        font-size: 2.5em;
      }

      padding: 50px;
      position: relative;
    }

    &--transparent {
      padding: 0 20px 20px;
      p {
        color: rgba(#364149, 0.7);
      }
    }
  }

  h3 {
    margin: 0 0 15px;
    // font-size: 20px;
  }

  .is-link {
    color: white;
    display: block;
    height: 100%;
    position: relative;
    top: 0;
    transition: top 0.1s ease-in-out !important;

    &:hover {
      top: -5px;
    }
  }
  .sep {
    width: 50px;
    display: block;
    height: 1px;
    background: #31374f;
    text-align: left;
    margin: 30px 0;
    border: 0;
  }
}




.cta {
  padding: 8px 20px 10px;
  margin-top: 2em;
  border-radius: 40px;
  text-decoration: none;
  display: inline-block;

  .material-icons {
    font-size: 14px;
    vertical-align: middle;
    margin-left: 5px;
  }

  &.white {
    position: relative;
    margin-top: 0;
    color: #fff !important;
    border: 1px solid #fff;
    padding: 9px 40px 11px 20px;
    &:after {
      position: absolute;
      display: block;
      content: "→";
      right: 15px;
      top: 10px;
      line-height: 14px;
      font-size: 14px;
    }
  }
}
