.full-width {
  background-color: white;
  @media #{$phone} {
    max-width: 720px !important;
    padding-left: 40px;
  }
}

.sticky-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  // color: #ffffff;
  background-color: #ddc85f;
  padding: 7px;
  font-weight: 600;
  text-align: center;
}

.sticky-header-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky-header-logo-wrapper {
  display: flex;
  align-items: center;

  img {
    margin: 0 7px -13px 7px;
  }
}

.sticky-header-title {
  color: #fff;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin: 0;
  @media (max-width: 480px) {
    display: none;
  }
}

.sticky-header {
  height: 80px;
  // background-color: #56ccbe;
  // background-color: #ff8864;
  // background-color: #F98277;
  background-color: #1d2456;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.beta-tag {
  color: #1d2456;
  // background-color: #56ccbe;

  background-color: #ddc85f;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
}

$sidebarWidth: 230px;

.topbar {
  background: $lc_color_dark_blue;
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.hide {
  display: none;
}

.home-menu {
  margin: 0;
}
.home-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    a {
      color: rgba(#fff, 0.8) !important;
      border-bottom: 1px solid rgba(#5ca8f5, 0.9);
      display: block;
      margin: 5px 15px 5px 5px;
      padding: 1px 0;
    }
  }
}

.logo-link {
  color: rgba(255, 255, 255, 0.6) !important;
  margin: 0 3px;

  &:hover {
    color: rgba(255, 255, 255, 0.9) !important;
  }

  @media (max-width: 480px) {
    display: none;
  }
}
.logo-github {
  color: rgba(255, 255, 255, 0.6) !important;
  margin: 0 3px;

  &:hover {
    color: rgba(255, 255, 255, 0.9) !important;
  }

  span {
    margin-right: 10px;
    vertical-align: middle;
    @media (max-width: 480px) {
      display: none;
    }
  }
}

.header-link {
  color: $text-color;
  position: relative;
  &:hover {
    color: $text-color;
    &:before {
      content: "#";
      color: rgba($text-color, 0.2);
      position: absolute;
      left: -1.4rem;
    }
  }
}

.section {
  padding: 30px 0;
  margin: 30px 0;

  &--top {
    background-color: rgba(#d2dde8, 0.03);
    margin: 0;
  }
  &--footer {
    background-color: #dee3f5;
    margin: 0;

    h4 {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.15em;
      color: #354ab7;
      font-family: "Source Sans Pro", sans-serif;
      margin-bottom: 30px;
    }
  }
  // background-image: linear-gradient(
  //   rgba(#d2dde8,.04) 0%,
  //   rgba(#d2dde8,.04) 55%,
  //   transparent 55%
  // );
  &--transparent {
    background: none;
  }

  // }
  // border-top: 1px solid rgba(#d2dde8, 0.1);
}
.home-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.version {
  background-color: rgba(#364149, 0.1);
  // background-color: rgba(#fff, .1);
  // border-bottom: 1px solid rgba(#364149, .1);
  // border-top: 1px solid rgba(#364149, .1);
  padding: 10px 20px;
  &__label {
    font-size: 14px;
    margin: 0;
  }

  &__select {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    padding: 4px;
    margin: 0;
    background: none;
    border: none;
    outline: none;
  }
}

.subnav {
  background-color: rgba(#fff, 0.7);
  padding: 0 16px;

  &__link {
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    // font-size: 14px;
    padding: 10px 4px 6px;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    &--active {
      border-bottom: 4px solid rgba(#364149, 1);
    }
  }
}

.docs {
  &__search {
    padding: 0 10px;
    &--compact {
      // padding: 0;

      .searchbox__input {
        // border: 0 !important;
        // border-radius: 0 !important;
        padding-left: 15px;
        font-size: 13px;
      }
    }
  }

  &__logo {
    background-color: rgba(29, 36, 86, 0.6);
    box-shadow: -2px 4px 8px 0 rgba(29, 36, 86, 0.2);
    padding: 15px 0;
    &__home {
      // color: rgba($text-color, 0.9);
      color: rgba(#ffffff, 0.6);
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.04em;
      padding: 25px 25px 0;

      img {
        opacity: 0.6;
        vertical-align: middle;
      }
    }

    &__title {
      padding: 0 25px 10px;
      font-family: "Source Sans Pro", serif;
      color: rgba(#fff, 0.95);
      font-size: 24px;
      line-height: 1.1em;
      font-weight: 700;
    }

    a {
      color: inherit;
    }
  }

  &__wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__sidebar-nav {
    padding: 0 0 20px;
    overflow-y: auto;
    height: 100%;
  }

  &__sidebar-button {
    position: fixed;
    left: $sidebarWidth;
    z-index: 9999;
    transition: left 0.1s ease-in-out;
    display: block;
    padding: 4px 8px;
    // color: #fff;
    background-color: rgba($lc_color_dark_blue, 0.7);
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-100%, 0);
    border-radius: 0 0 0 5px;

    outline: none !important;
    border: none;

    &--hidden {
      left: 0 !important;
    }
    @media #{$lctablet} {
      display: none;
    }
  }
  &__sidebar {
    // display: none;
    z-index: 999;
    transition: left 0.1s ease-in-out;

    &--hidden {
      left: -$sidebarWidth !important;
    }

    width: $sidebarWidth;
    display: block;
    left: 0;
    height: 100vh;
    background-color: $sidebar_color;
    position: fixed;
    @media #{$lctablet} {
      left: 0 !important;
    }
  }

  &__article-wrapper {
    background: white;
    padding: 40px 40px 70vh;
  }
  &__content {
    position: relative;
    font-weight: normal;
    margin-left: 0;
    background: $lc_color_dark_blue;
    z-index: -1;

    @media #{$lctablet} {
      // width: calc(100% - $sidebarWidth);
      float: left;
      margin-left: $sidebarWidth;
    }
  }

  &__toc {
    margin-top: 10px;
    &__ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      transition: max-height 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      overflow-y: hidden;

      &--l1 {
        padding: 0;
      }
      &--l2 {
        &.docs__toc__ul--active {
          padding: 10px 0;
        }
        max-height: 0;
      }
      &--l3 {
        max-height: 0;
      }
      &--l0 > li > a {
        font-weight: 600;
        &.active {
          &:before {
            transform: rotate(-90deg);
          }
        }
        &:before {
          content: " ";
          display: inline-block;
          // position: absolute;
          transition: transform 0.1s ease-in-out;
          vertical-align: middle;
          margin-right: 4px;
          margin-bottom: 3px;
          width: 14px;
          height: 14px;
          background-image: url("./../assets/icons/menu-arrow.svg");
          background-position: center;
          background-size: 100% 100%;
          // left: -10px;
        }
      }
      &--l1 > li > a {
        font-weight: 600;
        &.active {
          &:before {
            transform: rotate(-90deg);
          }
        }
        &:before {
          content: " ";
          display: inline-block;
          transition: transform 0.1s ease-in-out;
          vertical-align: middle;
          margin-right: 4px;
          margin-bottom: 3px;
          width: 12px;
          height: 12px;
          background-image: url("./../assets/icons/menu-arrow.svg");
          background-position: center;
          background-size: 100% 100%;
        }
      }
      &--l2 > li > a {
        font-weight: 600;
        &.active {
          &:before {
            transform: rotate(-90deg);
          }
        }
        padding: 8px 20px 8px 30px;
        font-size: 14px;
        // color: rgba(#fff, 0.9);

        &:before {
          content: " ";
          display: inline-block;
          transition: transform 0.1s ease-in-out;
          vertical-align: middle;
          margin-right: 4px;
          margin-bottom: 3px;
          width: 12px;
          height: 12px;
          background-image: url("./../assets/icons/menu-arrow.svg");
          background-position: center;
          background-size: 100% 100%;
        }
      }
      &--l3 > li > a {
        font-weight: 600;
        &.active {
          &:before {
            transform: rotate(-90deg);
          }
        }
        // color: rgba(#fff, 0.85);
        padding: 10px 20px 10px 40px;
        font-size: 13px;
        position: relative;
        &:before {
          content: " ";
          display: inline-block;
          transition: transform 0.1s ease-in-out;
          vertical-align: middle;
          margin-right: 4px;
          margin-bottom: 3px;
          width: 10px;
          height: 10px;
          background-image: url("./../assets/icons/menu-arrow.svg");
          background-position: center;
          background-size: 100% 100%;
        }
      }
      &--active {
        max-height: 100vh;
        background-color: rgba($lc_color_dark_blue, 0.05);
      }
    }

    &__li {
      //   border: 1px solid red;
      display: block;

      a {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
        display: block;
        padding: 8px 20px;
        position: relative;
        transition: color 0.1s ease-in-out;
        // color: #fff;
        color: $text-color;
        font-size: 15px;

        &:hover {
          color: lighten($text-color, 10%);
        }
      }

      a.active {
        color: $link-color;
      }
    }

    &__footer {
      margin-top: 2em;
      padding: 15px;
      font-size: 14px;
      text-align: center;
      // background: rgba(#fff, 0.7);
      min-height: 300px;
      &__link {
        // color: rgba(#fff, 0.7) !important;
        color: #31374f !important;
      }
      &__github {
        margin-right: 5px;
        vertical-align: middle;
      }
      &__sep {
        display: block;
        width: 30px;
        height: 1px;
        margin: 15px auto 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
      }
      p {
        max-width: 150px;
        margin: 10px auto;
      }
    }
  }
}

.spacing {
  width: 100%;
  height: 30px;
}

.tile {
  &.has-margin {
    margin-right: 10px;
    margin-bottom: 10px !important;
  }

  &.is-parent {
    padding: 5px !important;
  }
  // border-radius: 4px;

  .tile.is-vertical > .tile.is-child:not(:last-child) {
    margin-bottom: 10px !important;
  }

  // color: rgba(255,255,255, .8);
  .subtitle {
    font-size: 28px;
    &--big {
      font-size: 42px;
    }
    // text-transform: uppercase;
    // letter-spacing: 0.04em;
    // letter-spacing: -0.02em;
    // font-weight: 300;
    // padding-left: 15px;
    margin-top: 0;
    // color: rgba(#364149, 0.9);
    // color: rgba(#d2dde8, 0.9);
    // color: rgba(255,255,255, .9);
  }

  &__hero {
    font-size: 18px;
  }

  &__use-cases-title {
    margin-top: 30px;
    font-size: 18px;
  }
  &__use-cases {
    list-style: none;
    // color: rgba(#d2dde8, 0.9);
    margin: 0 0 40px;
    font-size: 16px;
    padding: 0 0 0 10px;
    li {
      padding: 2px 0;
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 0 0;
        width: 20px;
        height: 20px;
        background: url("../assets/icons/check.svg");
        background-size: 20px;
      }
    }
  }

  &__title {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.1;
    font-size: 24px;
    // color: rgba(255,255,255, .9);
    // text-shadow: 1px 1px 1px rgba($lc_color_dark_blue, .6);
  }
  &__tagline {
    margin: 0 0 10px;
    // text-shadow: 1px 1px 1px rgba($lc_color_dark_blue, .6);
    font-size: 16px;
    color: rgba($lc_color_dark_blue, 0.7);
    // font-style: italic;
    // opacity: .9;
  }

  &__badge {
    background: #1d2456;
    color: white;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    bottom: 15px;
    right: -25px;
    transform: rotate(-45deg);
    width: 100px;
    text-align: center;
  }

  .type {
    margin: 10px 0 5px;
    font-weight: 400;
    letter-spacing: 0.06em;
    font-size: 12px;
    font-family: "Source Sans Pro";
    // color: rgba(#fff, 0.8);
    color: rgba(#1d2456, 0.6);
    // font-style: italic;
  }

  .content {
    padding: 30px;
    height: 100%;
    min-height: 80px;

    @media #{$lctablet} {
      min-height: 320px;
    }

    // box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 8px 0 rgba(29, 36, 86, 0.06);

    // background-color: rgba(239,240,243,.6);
    background-color: rgb(245, 246, 248);

    // background-image: radial-gradient(
    //   lighten($lc_color_blue, 3%) 70%,
    //   lighten($lc_color_blue, 1%) 100%,
    //   transparent
    // );

    transition: background-color 0.1s ease-in-out;
    border-radius: 6px;
    position: relative;

    p {
      // font-size: 18px;
      // color: rgba(#fff, 0.6);
      // color: rgba(#d2dde8, 0.7);
    }

    &.coming-soon {
      &:before {
        content: "coming soon";
      }
    }

    &--large {
      p {
        max-width: 400px;
      }

      h2 {
        // font-weight: 700;
      }

      padding: 40px;
      min-height: 350px;
    }

    &--zoomed {
      p {
        color: #364149;
        font-size: 1.1em;
        font-weight: 300;
      }

      h1 {
        // font-weight: 300 !important;
        font-size: 2.5em;
      }

      padding: 50px;
      position: relative;
      min-height: 100px;
    }

    &--transparent {
      padding: 0 30px 0 0;
      background: none;
      border: none;
      box-shadow: none;
      p {
        // color: rgba(#fff, 0.7);
      }
    }
  }

  h3 {
    margin: 0 0 15px;
    // font-size: 20px;
  }

  .is-link {
    color: $text-color;
    display: block;
    height: 100%;
    position: relative;
    top: 0;
    transition: background-color 0.1s ease-in-out, top 0.1s ease-in-out !important;

    &:hover {
      top: -5px;
      // background-color: rgba(239,240,243,.75)
      background-color: rgb(248, 248, 249);
    }
  }

  .sep {
    width: 50px;
    display: block;
    height: 2px;
    background: rgba(#d2dde8, 0.6);
    text-align: left;
    margin: 15px 0;
    border: 0;
  }
}

.cta {
  padding: 8px 18px;
  margin-top: 2em;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;

  &.ghost {
    position: relative;
    margin-top: 0;
    // color: rgba(#fff,.9) !important;
    color: #1d2456 !important;
    border: 1px solid #1d2456;
    padding: 9px 20px 11px;
  }

  &.green {
    position: relative;
    margin-top: 0;
    color: rgba(#fff, 1) !important;
    border: 1px solid #56ccbe;
    padding: 9px 20px 11px;
    background-color: #56ccbe;
  }
}

.note {
  border-radius: 4px;
  position: relative;
  padding: 15px 20px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background: #c3d7fa;
  font-size: 0.95rem;
}
// .note:before {
//   position: absolute;
//   display: block;
//   content: "";
//   width: 40px;
//   height: 100%;
//   top: 0;
//   left: -40px;
//   background: #c0e0ff;
// }
// .note:after {
//   position: absolute;
//   display: block;
//   content: "";
//   width: 40px;
//   height: 100%;
//   top: 0;
//   right: -40px;
//   background: #c0e0ff;
// }

.clear {
  clear: both;
}
