.guide-list {
  @include fluid-container();

  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 80px;

  ul {
    float: right;
    padding: 0;
    margin: 0;
    max-width: 765px;
    width: 100%;
    list-style-type: none;

    li {
      width: 100%;
      border-bottom: 1px solid #30374E;
      padding-right: 10px;
      display: flow-root;
      margin-bottom: 60px;
      position: relative;

      @include media-breakpoint-up(md) {
        padding-left: 80px;
      }
    }
  }

  article {
    overflow: hidden;

    header {
      float: left;
      margin-bottom: 13px;
      max-width: 420px;

      a {
        color: #31374f;

        &:after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: #3E7CE4;
          position: absolute;
          bottom: -1px;
          left: 0;
          transition: all 0.5s;
        }

        &:hover {

          &:after {
            width: 100%;
          }
        }
      }
    }

    footer {
      display: none;
      position: absolute;
      bottom: 22px;
      right: 10px;

      @include media-breakpoint-up(md) {
        display: inline-block;
      }
    }
  }
}

.guide {
  font-size: 17px;
  margin-bottom: 70px;

  &__content {
    margin: 0 auto 100px;
    max-width: 700px;

    p {
      margin-bottom: 1.5em;
    }

    img {
      max-width: 100%;
      margin: 50px auto;
      display: block;
      transform: scale(1.1);
    }
  }

  &__back {
    margin-bottom: 50px;
  }
}
