@mixin fluid-container() {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1350px;
  position: relative;

  @media (min-width: 720px) {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1390px;
  }

  @media (min-width: 1080px) {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1430px;
  }
}
