<% language_tabs = current_page.data.language_tabs || [] %>

<%= partial "__partials/header" %>

	<div class="home__header-wrapper">
		<div class="logo blue">
			<span class="logo-title">LiveChat <span>Docs</span></span>
			<a class="logo-github" href="https://github.com/livechat/livechat-public-docs" title="LiveChat Docs source repository" target="_blank"><span>Submit a pull request</span><img src="__images/github-logo.svg" width="40" alt="LiveChat Docs source repository"/></a>
		</div>
	</div>

	<div class="page-wrapper full-width">
		<div class="content">
			<%= yield %>
		</div>
		<%= partial "__partials/footer-home" %>
	</div>

<%= partial "__partials/footer" %>
