////////////////////////////////////////////////////////////////////////////////
// BOILERPLATE STYLES
////////////////////////////////////////////////////////////////////////////////
body {
  font-family: Roboto,  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol" !important;
  font-size: 0.875rem !important;
}
.app-icon {
  font-size: 26px;
}

.app-icon,
.icon-label {
  vertical-align: middle;

  &.yellow {
    color: #efa843;
  }
  &.red {
    color: #ea4335;
  }
  &.green {
    color: #46b776;
  }
}

.boilerplate-content__example--wrapper {
  max-width: 400px;
  width: 100%;
  padding: 0;
}

.boilerplate-content__example {
  max-width: 370px;
  width: 100%;
  border: 1px dashed #ccc;
  border-radius: 4px;
  background-color: $lc_color_light_blue;
  padding: 0 20px;
  box-sizing: border-box;

  clear: none !important;

  &.buttons {
    padding: 25px;
    max-width: 450px;
    margin-top: 0;

    .switch {
      vertical-align: middle;
    }
  }

  &.loaders {
    display: inline-block;
    margin: 5px;
    position: relative;
    width: 150px;

    &.large {
      height: 150px;
    }
    &.medium {
      height: 120px;
    }
    &.small {
      height: 100px;
    }
    &.tiny {
      height: 70px;
    }
    &.icon {
      height: 40px;
    }

    .app__loading--icon {
      position: absolute;
      top: 34%;
      left: 44%;
    }
  }
}

.__example--tooltips {
  max-width: 120px;
  padding-top: 10px;

  &.menu {
    position: relative;
    height: 90px;

    .app-icon {
      margin-left: 25px;
    }

    .small-tooltip {
      position: absolute;
      visibility: hidden;
      top: 44px;
      left: 22px;
      padding: 8px 14px;
      background: #397fe9;
      color: #fff;
      z-index: 10000;
      border-radius: 3px;
      font-size: 12px;
      line-height: 1.35;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);

      &--visible {
        visibility: visible;
      }

      &__arrow {
        border: 4px solid transparent;
        border-color: transparent transparent #397fe9 transparent;
        display: block;
        left: 0;
        top: -8px;
        position: absolute;
        z-index: 135;
        margin-left: 32px;
      }

      &__content {
        white-space: nowrap;
      }
    }
  }
}

.my-component {
  position: relative;
  padding-bottom: 150px;

  .my-form {
    // border: 1px solid #ccc;
    // padding: 10px;
    display: inline-block;
  }

  .info-tooltip {
    position: absolute;
    padding: 14px 14px;
    background: #397fe9;
    color: #fff;
    z-index: 10000;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.35;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    left: 300px;
    top: 36px;
    width: 232px;

    &__arrow {
      border: 8px solid transparent;
      display: block;
      position: absolute;

      &--right-top {
        border-left-color: #397fe9;
        left: 188px;
        top: 8px;
      }
      &--left-top {
        border-right-color: #397fe9;
        left: -16px;
        top: 8px;
      }
      &--top-right {
        border-bottom-color: #397fe9;
        left: 160px;
        top: -16px;
      }
      &--top-left {
        border-bottom-color: #397fe9;
        left: 8px;
        top: -16px;
      }
    }

    &__content {
    }

    &__close {
      margin-top: 15px;
      a {
        margin-right: 5px;
      }
      a span {
        padding: 2px 5px;
        line-height: 16px;
        min-width: 40px;
      }
    }
  }

  .my-tooltip {
    left: 40px;
    top: 130px;
  }
}