@import "common/variables";
@import "common/bootstrap";
@import "layouts/mixins";
@import "common/global";
@import "common/typography";
@import "common/syntax";

// Old:

$phone: "(min-width: 576px)";
$lctablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";
$large-desktop: "(min-width: 1200px)";

$container: 1200px;
$spacing: 25px;

@import "components/headers";
@import "components/footer";
@import "components/hero";

@import "layouts/docs";
@import "layouts/markdown";

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/grid/tiles";
