@import "common/variables";
@import "common/bootstrap";
@import "layouts/mixins";
@import "common/global";
@import "common/typography";
@import "common/syntax";

// Old:

$phone: "(min-width: 576px)";
$chatioTablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";
$large-desktop: "(min-width: 1200px)";

$container: 1200px;
$spacing: 25px;

@import "components/nav";
@import "components/headers";
@import "components/footer";
@import "components/hero";
@import "components/chat";

@import "layouts/guides";
@import "layouts/features";
@import "layouts/docs";
@import "layouts/markdown";

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/grid/tiles";

$examples-width: 48%;
%right-col {
  width: auto;
  float: none;
}

  pre,
  blockquote {
    color: #fff;

    padding: 30px;
    position: relative;
    margin: 0;
    float: right;
    clear:right;
    margin-right: calc(-100% - 120px);
    width: calc(100% + 80px);

    // float: right;
    // clear: right;

    box-sizing: border-box;

    @extend %right-col;

    & > p {
      margin: 0;
    }

    a {
      color: #fff;
      text-decoration: none;
      border-bottom: dashed 1px #ccc;
    }
  }


.table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }
  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }
  td,
  th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
}

.highlight {
  margin-bottom: 16px;
  pre {
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    // background-color: #f6f8fa;
    border-radius: 3px;
  }
}

code {
  padding: 3px;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.col {
  float: left;
  &--half {
    width: 50%;
  }
}



$sectionWidth: 1120px;

.Section {
  position: relative;

  > div {
    // max-width: $sectionWidth;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;

    @media #{$chatioTablet} {
      padding: 0 0 0 85px;
    }
  }

  &--blue,
  &--lblue {
    background: #5ca8f5;

    > div > div:last-child {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    img {
      vertical-align: bottom;
    }
  }

  &--lblue {
    background: #f6f9fe;
    padding-top: 80px;
    padding-bottom: 150px;

    @media #{$chatioTablet} {
      padding-bottom: 80px;
    }
  }

  &__Flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;

    @media #{$chatioTablet} {
      flex-direction: row;
    }

    &--reverse {
      @media #{$chatioTablet} {
        flex-direction: row-reverse;
      }
    }

    &--top {
      align-items: flex-start;
    }

    > div {
      &:first-child {
        text-align: center;
      }

      @media #{$chatioTablet} {
        width: 45%;
      }
    }
  }
}



.Intro {
  @include fluid-container();

  > div {
    height: auto;

    @media #{$chatioTablet} {
      height: auto;
      padding: 80px 0 130px 0;
    }
  }

  h1 {
    max-width: 540px;
  }

  p {
    @extend .lead;

    max-width: 380px;
  }

  &--platform {
    h1 {
      max-width: 600px;
    }

    p {
      max-width: 450px;
    }
  }
}
