Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

Header set X-Frame-Options "allow-from https://my.livechatinc.com/"
Header set X-Content-Type-Options nosniff

ErrorDocument 404 /404/

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^beta-docs/(.*)$  https://%{HTTP_HOST}/docs/$1 [R=301,NC,L]
    RewriteRule ^docs/platform-overview/(.*)$  https://%{HTTP_HOST}/docs/getting-started/$1 [R=301,NC,L]
    RewriteRule ^docs/building-apps-for-livechat/(.*)$ https://%{HTTP_HOST}/docs/getting-started/building-livechat-apps/$1 [R=301,NC,L]
    RewriteRule ^docs/how-to-monetize-apps/(.*)$   https://%{HTTP_HOST}/docs/monetization/how-to-monetize-apps/$1 [R=301,NC,L]
    RewriteRule ^docs/authorization/(.*)$  https://%{HTTP_HOST}/docs/getting-started/authorization/$1 [R=301,NC,L]
    RewriteRule ^docs/sign-in-with-livechat/(.*)$  https://%{HTTP_HOST}/docs/getting-started/authorization/sign-in-with-livechat/$1 [R=301,NC,L]
    RewriteRule ^docs/agent-chat-api/(.*)$ https://%{HTTP_HOST}/docs/messaging/agent-chat-api/$1 [R=301,NC,L]
    RewriteRule ^docs/customer-chat-api/(.*)$  https://%{HTTP_HOST}/docs/messaging/customer-chat-api/$1 [R=301,NC,L]
    RewriteRule ^docs/configuration-api/(.*)$  https://%{HTTP_HOST}/docs/management/configuration-api/$1 [R=301,NC,L]
    RewriteRule ^docs/rest-api/(.*)$   https://%{HTTP_HOST}/docs/management/configuration-api-v2/$1 [R=301,NC,L]
    RewriteRule ^docs/billing-api/(.*)$    https://%{HTTP_HOST}/docs/monetization/billing-api/$1 [R=301,NC,L]
    RewriteRule ^docs/agent-app-widgets/(.*)$  https://%{HTTP_HOST}/docs/extending-ui/extending-chat-widget/$1 [R=301,NC,L]
    RewriteRule ^docs/product-cards/(.*)$  https://%{HTTP_HOST}/docs/extending-ui/extending-agent-app/product-cards/$1 [R=301,NC,L]
    RewriteRule ^docs/customer-sdk/(.*)$   https://%{HTTP_HOST}/docs/extending-ui/extending-chat-widget/customer-sdk/$1 [R=301,NC,L]
    RewriteRule ^docs/js-api/(.*)$ https://%{HTTP_HOST}/docs/extending-ui/extending-chat-widget/javascript-api/$1 [R=301,NC,L]
    RewriteRule ^docs/android-widget/(.*)$ https://%{HTTP_HOST}/docs/getting-started/installing-livechat/android-widget/$1 [R=301,NC,L]
    RewriteRule ^docs/ios-widget/(.*)$ https://%{HTTP_HOST}/docs/getting-started/installing-livechat/ios-widget/$1 [R=301,NC,L]
    RewriteRule ^docs/partner-program-api/(.*)$    https://%{HTTP_HOST}/docs/management/partner-program-api/$1 [R=301,NC,L]
</IfModule>
