.home__header-wrapper {
	width: 100%;
	// height: 120px;
	padding: 100px 30px 30px;
	background-color: $lc_color_blue;
	box-sizing: border-box;

	.logo {

		color: rgba(255,255,255,.9);
		line-height: 32px;
		max-width: 1130px;
		margin: 0 auto;
		padding: 0;
		position: relative;

		.logo-title {
			font-size: 32px;
			font-weight: 300;
			letter-spacing: 0;
			max-width: 500px;
			display: inline-block;
			margin: 0;
		}

		.logo-subtitle {
			font-size: 14px;
			line-height: 1.4em;
			font-weight: 400;
			letter-spacing: 0;
			max-width: 500px;
			display: inline-block;
			color: rgba(255,255,255,.7);
		}

		span {
			font-weight: 700;
		}
	}

	.logo-github {
		position: absolute;
		right: 0;
		bottom: -4px;
		text-decoration: none;
		border: 0;
		span {
			color: rgba(255,255,255,.7);
			font-weight: 400;

			@media (max-width: $phone-width) {
				display: none;
			}
		}

		img {
			margin-left: 10px;
			vertical-align: middle;
		}
	}

}

.docs-full-desc {
	padding: 4em 0;
	&.light {
		background-color: rgba($lc_color_blue,.3);
	}
}

.docs-cover-intro {
	max-width: 220px;
	display: inline-block;
	vertical-align: top;

	h2 {
		margin-top: 0 !important;
		padding-top: 0 !important;
		line-height: 1.2em;
	}
}

.docs-covers-details {
	border-top: 1px solid $lc_color_orange;
	height: 0;
	width: 100%;
}

.cta {
	padding: 8px 20px 10px;
	margin-top: 2em;
	border-radius: 40px;
	text-decoration: none;
	display: inline-block;
	&.orange {
		color: $lc_docs_orange !important;
		border: 1px solid $lc_docs_orange;
	}
	&.red {
		color: $lc_docs_red !important;
		border: 1px solid $lc_docs_red;
	}
	&.green {
		color: $lc_docs_green !important;
		border: 1px solid $lc_docs_green;
	}
	&.light-green {
		color: $lc_docs_light-green !important;
		border: 1px solid $lc_docs_light-green;
	}
	&.light-blue {
		color: $lc_docs_light-blue !important;
		border: 1px solid $lc_docs_light-blue;
	}
	&.violet {
		color: $lc_docs_violet !important;
		border: 1px solid $lc_docs_violet;
	}
	&.fuchsia {
		color: $lc_docs_fuchsia !important;
		border: 1px solid $lc_docs_fuchsia;
	}
}

.content-column {
	max-width: 600px;
	display: inline-block;
	vertical-align: top;
}
.docs-sections {
	display: inline-block;
	vertical-align: top;
	padding: 0 2em 0 0;
	max-width: 220px;

	a {
		font-weight: 700;
		// letter-spacing: .1em;
		margin-top: 30px;
		text-decoration: none;
		&:after {
			content: "→";
			margin-left: 4px;
			line-height: 14px;
			font-size: 14px;
		}
	}

	&.orange {
		a { color: $lc_docs_orange !important; }
	}

	&.red {
		a { color: $lc_docs_red !important; }
	}

	&.green {
		a { color: $lc_docs_green !important; }
	}

	&.violet {
		a { color: $lc_docs_violet !important; }
	}

	&.fuchsia {
		a { color: $lc_docs_fuchsia !important; }
	}

	dd {
		margin: 0 0 10px !important;
		color: rgba(255,255,255,.4);
		font-size: 13px;
	}
}

.docs-cover-wrapper {
	padding: 30px;
}

.docs-cover {
	width: 220px;
	height: 320px;
	display: inline-block;
	vertical-align: top;
	border-radius: 4px;
	position:relative;
	background-color: rgba($lc_color_blue, .1);
	margin: 0 20px 20px 0;
	position: relative;
	padding: 30px;
	box-sizing: border-box;
	box-shadow: 5px 5px 20px 0 rgba(0,0,0,.1);
	text-decoration: none;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
	}

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0; right: 0; bottom: 0; left: 0;
		background-color: rgba($lc_color_blue, 1);
		background-image:
		    radial-gradient(
		    lighten($lc_color_blue, 3%),
		      $lc_color_blue
		    );
		border-radius: inherit;
		transition: background .2s;
	}

	&:hover {
		&:before {
			background-color: rgba($lc_color_blue, .7);
		}
	}

	.docs-cover-title {
		font-weight: bold;
		font-size: 24px;
		color: rgba(255,255,255,.9);
		margin: 4px 0 12px;
		line-height: 1.1em;
		z-index: 1;
	}

	.docs-cover-underline {
		border-bottom: 4px solid $lc_docs_blue;
		z-index: 1;
	}

	.docs-cover-subtitle {
		font-size: 14px;
		font-style: italic;
		font-weight: 300;
		margin-top: 0;
		z-index: 1;
		color: $lc_docs_blue;
	}

	&.blue {
		// background: none;
	}

	&.light-blue {
		.docs-cover-underline {
			border-color: $lc_docs_light-blue;
		}
		.docs-cover-subtitle {
			color: $lc_docs_light-blue;
		}
	}

	&.orange {
		.docs-cover-underline {
			border-color: $lc_docs_orange;
		}
		.docs-cover-subtitle {
			color: $lc_docs_orange;
		}
	}

	&.red {
		.docs-cover-underline {
			border-color: $lc_docs_red;
		}
		.docs-cover-subtitle {
			color: $lc_docs_red;
		}
	}

	&.violet {
		.docs-cover-underline {
			border-color: $lc_docs_violet;
		}
		.docs-cover-subtitle {
			color: $lc_docs_violet;
		}
	}

	&.green {
		.docs-cover-underline {
			border-color: $lc_docs_green;
		}
		.docs-cover-subtitle {
			color: $lc_docs_green;
		}
	}

	&.light-green {
		.docs-cover-underline {
			border-color: $lc_docs_light-green;
		}
		.docs-cover-subtitle {
			color: $lc_docs_light-green;
		}
	}

	&.fuchsia {
		.docs-cover-underline {
			border-color: $lc_docs_fuchsia;
		}
		.docs-cover-subtitle {
			color: $lc_docs_fuchsia;
		}
	}

	.docs-cover-header {
		font-weight: 300;
		font-size: 12px;
		letter-spacing: .5px;
		color: rgba(255,255,255,.6);
		margin-bottom:0;
		z-index: 0;
	}

}

.docs-covers {
	margin: 20px $main-padding 0;
}

.footer-home-wrapper {
	background-color: $lc_color_blue;
	margin-top: 40px;
}

.footer-home {
	max-width: 1130px;
	margin: 0 auto;
	padding: $main-padding;
	a {
		// color: $lc_color_selections;
		color: rgba(255,255,255,.9);
		font-weight: 300;
		&:hover {
			color: rgba(255,255,255,1);
		}
	}
}

.footer-box {
	display: inline-block;
	vertical-align: top;
	max-width: 300px;
	margin: 10px $main-padding $main-padding/2 0;

	&>h3 {
		font-weight: 400;
		font-size: 16px;
		letter-spacing: .1em;
		color: rgba(255,255,255,.9);
		margin-bottom: 10px !important;
	}
	&>p {
		color: rgba(255,255,255,.7);
		font-weight: 300;

		strong {
			font-weight: 400;
		}
	}
}

.footer-logo {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px $main-padding;
	text-align: center;

	span, img {
		vertical-align: middle;
	}

	span {
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 8px;
		margin-right: 8px;
		display: inline-block;
		color: rgba(255,255,255,.6);
	}

}
