.TopMenu {
    background-color: rgba($lc_color_blue, .5);
    // border-bottom: 1px solid $medium-blue;
    &__List {
        list-style: none;
        margin: 0 auto;
        padding: 0 30px;
        text-align: right;
        max-width: 1130px;

        &__Element {
            display: inline-block;
            padding: 20px 15px 20px 0;
            &:last-child {
                padding-right: 0;
            }
            a, a:active, a:visited {
                color: rgba(#fff, .9);
                text-decoration: none;
            }

            &--left {
                float: left;
                font-weight: 700;
                @media (max-width: 480px) {
                    display:none;
                }
            }
        }
    }
}